<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlyAway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminCred</display-name>
    <servlet-name>AdminCred</servlet-name>
    <servlet-class>com.controller.AdminCred</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCred</servlet-name>
    <url-pattern>/AdminCred</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlight</display-name>
    <servlet-name>AddFlight</servlet-name>
    <servlet-class>com.controller.AddFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlight</servlet-name>
    <url-pattern>/AddFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlight</display-name>
    <servlet-name>SearchFlight</servlet-name>
    <servlet-class>com.controller.SearchFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlight</servlet-name>
    <url-pattern>/SearchFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registration</display-name>
    <servlet-name>registration</servlet-name>
    <servlet-class>com.controller.registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>paymentdata</display-name>
    <servlet-name>paymentdata</servlet-name>
    <servlet-class>com.controller.paymentdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentdata</servlet-name>
    <url-pattern>/paymentdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightBook</display-name>
    <servlet-name>FlightBook</servlet-name>
    <servlet-class>com.controller.FlightBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightBook</servlet-name>
    <url-pattern>/FlightBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.controller.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>home</display-name>
    <servlet-name>home</servlet-name>
    <servlet-class>com.controller.home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>password</display-name>
    <servlet-name>password</servlet-name>
    <servlet-class>com.controller.password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>password</servlet-name>
    <url-pattern>/password</url-pattern>
  </servlet-mapping>
</web-app>